html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*---------------------------------------------------------Main Code--------------------------------------------------------*/
.wrapper{
	 height: 800px;
	 width: 1230px;
	 /*background-color: red;*/
}
header{
	height: 100px;
	width: 1480px;
	background-color: black;
}
section{
	height: 560px;
	width: 1230px;
}
footer{
	height: 130px;
	width: 1480px;
	background-color: black;
}
.logo{
	float: left;
	padding-left: 20px;	
}
.logo img{
	padding-left: 16px;
}
li a{
	color:white;
	text-decoration: none;
}
nav{
	float: right;
	word-spacing: 30px;
	padding: 25px;
}
nav li{
	display: inline-block;
	line-height: 50px;
}
.button:hover {
	transform:scale(1.15);
	box-shadow: 5px 5px 15px );
}
.left{
	color:white;	
}
.center{
	float: right;
}
aside {
  position: absolute !important;  
  top: 30px !important;
  left: 300px !important;
  display: block !important;
}
.search{
	float: right;
	padding: 60px;
	padding-right: 0px;
}


/*--------------------------CARDS-----------------------------------*/
 body{
    align-items: center;
    justify-content: center;
    background-image: url("../images/BGI3.jpg");
    background-size: cover;
 }
 .card {
    display: grid;
    grid-template-columns: 160px;
    grid-template-rows: 150px 45px 30px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:20px;
  }
  .card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats;

	
  }
  .card-image {
    grid-area: image;
    background: url("../images/WWY1.webp");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
	position: relative;
	bottom: 15px;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
  }
  .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
	padding-left: 60px;
	position: relative;
	bottom: 4px;
  }
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card2 {
    display: grid;
    grid-template-columns: 160px;
    grid-template-rows: 150px 45px 30px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 25px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
  .card-image2 {
    grid-area: image;
  }
  .card-text2 {
    grid-area: text;
  }
  .card-stats2 {
    grid-area: stats; 
  }
  .card-image2 {
    grid-area: image;
    background: url("../images/FMTTM.webp");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
  }
  .card-text2 {
    grid-area: text;
    margin: 25px;
  }
  .card-text2 .date2 {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text2 p {
    color: grey;
    font-size:15px;
    font-weight: 300;
	position: relative;
	bottom: 15px;
  }

  .card-stats2 {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: black;
  }
  .card-stats2 .stat2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
	padding-left: 60px;
	position: relative;
	bottom: 4px;
  }
  .card2:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
.card3 {
    display: grid;
    grid-template-columns: 160px;
    grid-template-rows: 150px 45px 30px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 25px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
  .card-image3 {
    grid-area: image;
  }
  .card-text3 {
    grid-area: text;
  }
  .card-stats3 {
    grid-area: stats; 
  }
  .card-image3 {
    grid-area: image;
    background: url("../images/SAO.webp");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
  }
  .card-text3 {
    grid-area: text;
    margin: 25px;
  }
  .card-text3 .date3 {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text3 p {
    color: grey;
    font-size:15px;
    font-weight: 300;
	position: relative;
	bottom: 15px;
  }
  
  .card-stats3 {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: red;
  }
  .card-stats3 .stat3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
	padding-left: 60px;
	position: relative;
	bottom: 4px;
  }
  .card3:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  
.card4 {
    display: grid;
    grid-template-columns: 160px;
    grid-template-rows: 150px 45px 30px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 25px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
  .card-image4 {
    grid-area: image;
  }
  .card-text4 {
    grid-area: text;
  }
  .card-stats4 {
    grid-area: stats; 
  }
  .card-image4 {
    grid-area: image;
    background: url("../images/YN.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
  }
  .card-text4 {
    grid-area: text;
    margin: 25px;
  }
  .card-text4 .date4 {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text4 p {
    color: grey;
    font-size:15px;
    font-weight: 300;
	position: relative;
	bottom: 15px;
  }
  .card-stats4 {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: blue;
  }
  .card-stats4 .stat4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
	padding-left: 60px;
	position: relative;
	bottom: 4px;
  }
  .card4:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card6 {
    display: grid;
    grid-template-columns: 160px;
    grid-template-rows: 150px 45px 30px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 25px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
  .card-image6 {
    grid-area: image;
  }
  .card-text6 {
    grid-area: text;
  }
  .card-stats6 {
    grid-area: stats; 
  }
  .card-image6 {
    grid-area: image;
    background: url("../images/IWTEYP.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
  }
  .card-text6 {
    grid-area: text;
    margin: 25px;
  }
  .card-text6 .date6 {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text6 p {
    color: grey;
    font-size:15px;
    font-weight: 300;
	position: relative;
	bottom: 15px;
  }
  .card-stats6 {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: blue;
  }
  .card-stats6 .stat6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
	padding-left: 60px;
	position: relative;
	bottom: 4px;
  }
  .card6:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
section{
    display: flex;
    align-items: center; 
}



.card5 {
    display: grid;
    grid-template-columns: 70px;
    grid-template-rows: 0px 50px 50px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 100px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    cursor: pointer;
    margin:30px;
  }
  .card-stats5 {
    grid-area: stats; 
  }
  .card-text5 {
    grid-area: text;
    margin: 25px;
  }
  .card-text5 h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card5:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  
.f1{
	padding-left:600px;
	position:relative;
	top:9px;
}
.f2{
	padding-left:1140px;
	position:relative;
	bottom:6px;
}
hr{margin: -8px }